[include]
    path = ~/.gitconfig.local
[user]
    name = 'ibuki2003'
    email = 'main@fuwa.dev'
[init]
    defaultBranch = master
[core]
    quotepath = off
    editor = vim
    pager = "LESSCHARSET=utf-8 less"
    quotepath = false
    autocrlf = input
[diff]
    tool = vimdiff
    algorithm = histogram
    colorMoved = dimmed-zebra
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[push]
    default = current
[pull]
    ff = only
[fetch]
    prune = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
