configuration {
  show-icons: true;
  modes: "combi";
  font: "Noto Sans CJK JP 10";
  combi-modes: "drun,window";
  combi-display-format: "{text}";

  sort: true;
  sorting-method: "fzf";
  matching: "fuzzy";
}
